<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>Serviços Marcados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            {% for servico in servicos %}
                <tr>
                    <td>{{ servico.id }}</td>
                    <td>{{ servico.nome }}</td>
                    <td>{{ servico.descricao }}</td>
                    <td>{{ servico.preco }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
